html {
    height: 96vh;
}
body {
    min-height: 96vh;
    display: flex;
    background-color: #777;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    margin: 0;
}

main {
    min-height: 96vh;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}

h1, h2 {
    margin: 1vh;
    text-decoration: underline;
}

ul {
    padding: 0 3vh;
}

div.sidebar {
    margin: 1vh;
    padding: 1vh;
    min-height: 96vh;
    background-color: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

div#footer {
    height: 5vh;
}

div.card {
    margin: 1vh;
    padding: 1vh;
    min-width: 20vh;
    border: 1px solid black;
    background-color: #888;
    width: max-content;
}